<div class="container">
	<div class="row">
		<h2  class="text-center">OFI.COM.MX</h2>
		<hr>		
		
		<div class="col-md-12" id="app">
			<h3 class="text-center">Lista de Productos</h3>
			<div class="row">
				<div class="loading text-center" ng-show="procesando">
					<i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
					<span class="sr-only">Loading...</span>
					<h5 class="text-center">Espere por favor...</h5>
				</div>
				<div ng-show="!procesando">
					<div class="col-md-3 col-sm-6" ng-repeat="producto in listProductos">
			    		<span class="thumbnail">
			      			<img ng-src="[[producto.url]]" alt="...">
			      			<h4>[[producto.title]]</h4>
			      			<div class="ratings">
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star"></span>
			                    <span class="glyphicon glyphicon-star-empty"></span>
			                </div>
			      			<p>AlbumID: [[producto.albumId]]</p>
			      			<hr class="line">
			      			<div class="row">
			      				<div class="col-md-6 col-sm-6">
			      					<p class="price">$29,90</p>
			      				</div>
			      				<div class="col-md-6 col-sm-6">
			      					<button class="btn btn-info right" > Comprar</button>
			      				</div>
			      				
			      			</div>
			    		</span>
		  			</div>									
				</div>
			</div>
		</div>
	</div>
</div>